<% active_table_for :transactions_table, @active_table_output,
   :refresh_url => url_for(:action => 'display_transactions_table', :path => @user_credit ? @user_credit.id : nil) do |t| %>
  <%- active_tr 'transaction', t.id do %>
    <td><%= link_to t.end_user.name, :action => 'transactions', :path => t.credit_user_credit_id %></td>
    <td><%= t.type_name %></td>
    <td align="center">
      <%= content_tag :span, t.amount, :style => t.amount >= 0 ? 'color:green;' : 'color:red;' %>
    </td>
    <td><%= h t.note %></td>
    <td>
      <%= t.achievement && t.achievement.respond_to?(:achievement_description) ? t.achievement.achievement_description : nil %>
    </td>
    <td><%= t.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= t.updated_at.strftime("%m/%d/%Y") %></td>
  <% end -%>
<% end -%>
