<% active_table_for :user_credits_table, @active_table_output do |t| %>
  <%- active_tr 'credit', t.id do %>
    <td><%= link_to t.name, :action => 'transactions', :path => t.id %></td>
    <td><%= h t.credit_type.name %></td>
    <td align="center"><%= t.total_credits %></td>
    <td align="center"><%= t.used_credits %></td>
    <td><%= t.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= t.updated_at.strftime("%m/%d/%Y") %></td>
  <% end -%>
<% end -%>
